@import "bootstrap/bootstrap.less";
@import "styles-responsive.less";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//PCV custom Css

body{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

a:hover{
  text-decoration: none;
  color: @red-color;
}

.light_blue_bg{
  background-color: @page-background;
  background-image: url('/static/img/home_bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.light_blue_no_bg{
  background-color: @page-background;

}


.affix{
  @media(max-width: 768px){
    position: relative;

  }
}

.title{
  font-family: 'Montserrat', sans-serif;
  color: @red-color;
  font-size: @medium-size;
  line-height: @slogan-size;
  margin-bottom: 15px;
}

.subtitle{
  color: @blue-color;
  @media (min-width: 767px){
    font-size: @slogan-size;
  }
  @media (max-width: 767px){
    font-size: @content-size!important;
  }
  margin-bottom: 15px;
}

.content{
  color: #000000;
  font-size: @content-size;
  margin-bottom: @spacing-half;
}

.black_bg{
  background-color: #000000;
  color: #ffffff;
}

.white_bg{
  background-color: #ffffff;
  color: #000000;
}

.default_padding{
  @media (min-width: 767px){
    padding: 40px;
  }
  @media (max-width: 767px){
    padding: 10px;
  }
}

.default_padding.content{
  padding-top:0;
}

.in_tab_padding{
  @media (min-width: 767px){
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 767px){
    padding-left: 15px;
    padding-left: 15px;
  }

}


//ADDTHIS BUTTONS STYLES

.addthis_floating_style.addthis_counter_style{
  @media(min-width:768px){
    left:20px;
    top:50px;
    width: 78px!important;
  }
  @media(max-width:767px){
    width: 250px !important;
    top:50px
  }
}


.addthis_floating_style{

//smaller than 767px
  @media(max-width: 767px){
      position: relative;
      top: 10px!important;

    .addthis_internal_container{
      width: 250px!important;
      a{
        float: left;
      }
      .addthis_counter{
        width: 50px;
      }
    }
  }

  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}


.header{
  color:  #4e4e4e;
  margin-top: @spacing-single;

  #slogan{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 27px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #sottotitolo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
  }

  #title_container{

    font-family: 'Montserrat', sans-serif;

    @media(max-width: 767px){
      font-size:  @medium-size;
      line-height: @medium-size;
    }

    @media(min-width: 768px){
      font-size:  @title-size;
      line-height: @title-size;
    }

    color: white;
    margin-top: 15px;


    .hash{
      text-align: right;
      padding-top: 8px;

      @media(max-width: 768px){
        font-size: 50px;
        line-height: 50px;
      }

      @media(min-width: 768px){
        font-size: 129px;
        line-height: 100px;
      }


    }
    .scritta{
      text-align: left;
      @media(max-width: 768px){
        font-size: 35px;
        line-height: 35px;
      }

      @media(min-width: 768px){
        font-size: 70px;
        line-height: 60px;
      }

    }
  }

  #main-intro{
    font-family: 'Montserrat', sans-serif;
    color:  #4e4e4e;

    @media(max-width: 768px){
      font-size: 20px;
      line-height: 20px;
    }
    @media(min-width: 768px){
      font-size: 22px;
      line-height: 22px;
    }
    text-align: center;
    margin-top: @spacing-single;
    margin-bottom: 25px;
  }

  #main-grido{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    color:  @red-color;
    margin-bottom: 30px;


    @media(max-width: 1024px){
      font-size: @slogan-size;
      line-height: @slogan-size;
    }
    @media(min-width: 1024px){
      font-size: @intro-size;
      line-height: @intro-size;

    }

  }

  .button{
    max-width: 100%;
    overflow: hidden;
    height: 89px;

    img{
      position: relative;
      height: 200%;
      overflow: hidden;
      top: 0;
      left: 0;
    }

    img:hover{
      overflow: hidden;
      top: -100%;
      left: 0;
    }
  }
}

.top_pie{
  overflow: hidden;
  max-height: 252px!important;

  @media(max-width:800px){
    text-align: center;
  }
}

.bold_label{
  font-family: 'Montserrat', sans-serif;
  font-size: @slogan-size;
  font-weight: bold;
}

.big_bold_label{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  @media(min-width: 900px){
    font-size: 36px;
  }
  @media(max-width: 900px){
    font-size: 18px;
  }


}


#achepuntosiamo{

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;

  a{
    color: @blue-color;
  }

  .subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;

  }

  .small_subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    height: 60px;
    margin-left: 5px;
    display: table-cell;
    vertical-align: middle;
  }

  .blogpost_title:hover{
    .box_data{
      background-position: 0% 100%;
      background-size: 100% 200%;
    }
    .subtitle a, .small_subtitle a{
      color:  @red-color;
    }
  }

  .small{
    font-size: 18px;
    line-height: 18px;
  }


  .box_data{
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    width: 50px;
    height: 67px;
    padding-top: 7px;
    float:left;
    color:white;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 15px;
    text-align: center;
    background-image: url("../img/box_data.png");
    background-position: 0% 0%;
    background-size: 100% 200%;
    background-repeat: no-repeat;

    @media (max-width: 767px){
      margin-right: @spacing-half;
    }

    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
    }

    .day{
      font-size: @slogan-size;
      line-height: @slogan-size;
      font-weight: bold;
    }
    .month{
      font-size: 13px;
    }
    .year{
      font-size: 13px;
    }
  }

  .blogpost_click{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 38px;
  }
}

.affix {
  top: 0px;
}​

#pcv_navbar{
   z-index: 99999;
 }

#pcv_navbar .navbar{
  margin-bottom: 0;
  min-height: 1px;
}

#pcv_inner_navbar{
  min-height: 40px;
  font-family: "MontSerrat",'sans-serif';

  @media(min-width:1024px){
    margin-right: 90px;
    margin-left: 90px;
    padding-left: 35px;
    padding-right: 35px;
  }
  border-radius: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: none;
  background-color: @blue-color;
  border: 0;

  .brand{
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
  }
  li a:hover{
    background-color: @navbar-selected;
    -webkit-box-shadow: none;
  }
  li.active a{
    background-color: @navbar-selected;
    -webkit-box-shadow: none;
  }


  .nav li a{
    padding: 20px @spacing-half 20px;
  }

  #openpolis_logo{
    a{
      padding-top: @spacing-half;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      float:right;
      img{

        @media(min-width: 1024px){
          height: 35px;
        }
        @media(max-width: 1024px){
          width: 100px;
        }
      }
    }
  }
}

#pcv_tabs{
  @media(min-width:1024px){
    min-height: 500px;
  }

  .tab-content{
    overflow: hidden;
  }

  #presidenti_img{
    margin-top:0;
    width: 100%;
  }

  .content{
    color: #ffffff;
  }

  .tab-pane#campagna{
    .title{
      padding-bottom:0;
    }
    .content{
      padding-top:0;
    }
  }
}
#lista_ul{

  padding-bottom: 0;
  padding-top:20px;
  border-bottom: 1px solid #dddddd;

  a:hover{
    background-color: #ffffff;
  }

  .title{
    font-weight: bold;
    font-size: 20px;
  }
  .active .title{
    color:@blue-color;
  }

  li{
    margin-left: 19px;
  }

}

.lista_tabs{
  .default_padding{
      padding-top: 0px;
  }

}

#middle_tabs{

   #tabs_titles{
    margin-top:@spacing-single;
    padding-bottom: 0;
    border-bottom: 1px solid #dddddd;

    .title{
      font-size: 19px;
      line-height: 20px;
      color: @blue-color;
    }
    .title:hover{
      color: @red-color;
    }
    .active .title{
      color:@red-color;
    }

    a:hover{
      background-color: #ffffff;
    }
  }

  .title{
    font-size: 25px;
    line-height: 25px;
  }

  .default_padding#appello_tab,
  .default_padding#mondo_tab,
  .default_padding#commissioni_tab{
    padding-bottom: 0;
  }
}


#appello_tab{
  p{margin-bottom: 20px;}
}

#adesioni_buttons{
  margin-top:@spacing-single;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #dddddd;

  .title{
    font-size: 22px;
    line-height: 20px;
    color: @blue-color;
  }

  .title:hover{
    color: @red-color;
  }

  .active .title{
    color:@red-color;
  }


  a:hover{
    background-color: #ffffff;
  }
}

.parlamentare_calltoaction{
  font-family: "Montserrat", "sans-serif";
  font-weight:bold;
  color: white;
  background-color: @red-color;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;

  margin-bottom: @spacing-30;
  box-shadow: 0px 9px 10px 3px rgba(47, 47, 47, 0.2);
  -moz-box-shadow: 0px 9px 10px 3px rgba(47, 47, 47, 0.2);
  -webkit-box-shadow: 0px 9px 10px 3px rgba(47, 47, 47, 0.2);

  a{
    color: black;
  }
  a:hover{
    color: white;
  }
}

.numero_adesioni{
  font-size: 29px;
}

.adesioni_tabs{

  .nav-tabs > .active > a:hover{
    border-bottom: 0;
    border-bottom-color: white;
  }

  padding-top:10px;


  ul.nav-tabs{

    span.red{
      color: @red-color;
    }
    span:hover.red{
      color: @red-color;
    }

    span.blue{
      color: @blue-color;
    }
    span:hover.blue{
      color: @blue-color;
    }

    li.active{

      a:hover{
        background-color: white;
        border-bottom: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
      }
    }
  }
  ul.nav-tabs{
    li{
      a:hover{
        background-color: white;
        border-bottom: 1px #ffffff;
      }
    }
  }

  .subtitle{
    font-size: 15px;
    line-size: 30px;
    color: @blue-color;
    font-family: "Montserrat", "sans-serif";
    font-weight: bold;

  }
  .subtitle:hover{
    color: @red-color;

  }


  .title{
    color: @blue-color;
    margin-bottom: @spacing-half;
    font-size: 27px;
    font-weight: bold;

  }

  li:nth-child(2) a {
    margin-left: @spacing-single;
  }


  .liste_adesioni{
    padding-bottom:@spacing-half;
    padding-left: 0;
    overflow: hidden;


    a{
      background-color: white;
      border: 0;
      border-radius: 0;
    }
    .riga_adesioni{
      border-bottom: 1px solid #cccccc;
      line-height: 30px;

      .email{
        width: 30px;
        font-family: "Montserrat", "sans-serif";
        font-weight: bold;

        a{
          color: @red-color;
        }

        a:hover{
          color:  @dark-red-color;
        }

        @media(min-width:800px){
          margin-left: 5px;
          margin-right: 8px;
        }


        margin-right: 8px;
      }

      .twitter
      {
        @media(min-width:800px){
          margin-left: 10px;
          padding-left: 4px;
        }

        iframe{
          vertical-align: middle;
        }

      }

      .adesioni_separator{
        width: 5px;
        margin-left: 5px;
      }
    }
    .link_veditutti{
      font-family: "Montserrat", "sans-serif";
      font-weight: bold;
      border-bottom: 0;
      margin-top:10px;
      a{
        color: @blue-color;
      }

    }
  }

  .adesioni_colgraph{
    margin-bottom: 30px;
  }

}

#lista_completa{

  .title{
    color: @red-color;
    line-height: 30px;
  }

  #lista_title_container{
    margin-bottom: 0;
    padding-top:50px;
    padding-bottom:25px;
    #title{
      padding-left:35px;
    }
  }

  #pcv_inner_navbar{
    ul{
      display: none;
    }
  }
  #lista_ul{

    .active .title{
      color: @red-color;
    }
    .title{
      color:@blue-color;
    }
    .title:hover{
      color: @red-color;
    }

    li:hover a span{
      color: @red-color;
    }
  }


  .subtitle{
    line-height: @slogan-size;
    font-size: @slogan-size;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
  }
  .btn a{
    color: white;
  }

  .tabbable{
    margin-left:20px;
    margin-right: 20px;
  }

  th{
    font-family: "Montserrat","sans-serif";
  }

  tr{
    height: 37px;
  }

  tr.odd{
    background-color: #ffffff
  }
  tr.even{
    background-color: #ffffff;
  }
  td.sorting_1, td.sorting_2, td.sorting_3{
    background-color: #ffffff;
  }
  th.header{
    cursor: hand;

  }
  th.sorting_disabled{
    cursor: not-allowed;
  }

  td .list_email{
    font-family: "Montserrat","sans-serif";
    font-weight: bold;
    color: @red-color;
  }

  td .adesione_blue{
    color: @blue-color;
    font-weight: bold;
  }
  td .adesione_red{
    color: @red-color;
    font-weight: bold;
  }
}

// Datatables responsiveness

div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin: 1em 0;
  clear: both;
}


#footer{
  padding-top: 0;
  font-family: "Montserrat", "sans-serif";
  background-color: @blue-color;
  color:  white;

  .small{
    height: 25px!important;
    min-height: 25px!important;
  }

  .default_padding{
    padding-bottom: 20px;
  }

  img{
    vertical-align: bottom;
  }

  a{
    color: white;
  }
  a:hover{
    text-decoration: underline;
    color: white;

  }

  .title{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;

    @media(max-width:800px){
      margin-top: 10px;
    }

  }

}

#sub_footer{
  color: black;
  background-color: @page-background;
  padding-top: 30px;
  padding-bottom: 30px;
  ul{
    list-style: none;
    list-style-type: none;

    margin: 0;
    padding: 0;

    li:first-child{
      border-left: 0;
      padding-left: 19px;
    }

    li{
      border-left: 1px solid #808080;
      height: 30px;
      line-height: 30px;
      display: block;
      float: left;
      list-style: none;
      padding-right: 11px;
      padding-left: 11px;

      a{
        min-height: 30px;
      }

    }
  }
}