@import "bootstrap/bootstrap.less";
@import "styles-responsive.less";
@import url(http://fonts.googleapis.com/css?family=Abel);
//PCV custom Css

body{
  font-family: 'Arial', sans-serif;
  background-color: white;
}

.ui-autocomplete{
  z-index: 1000!important;
}

//placeholder color
input::-webkit-input-placeholder{
  color:#555;
}
input:-moz-placeholder {
  color:#555;
}
input[placeholder], [placeholder], *[placeholder]
{
  color:#555;
}

.header{
  margin-top: @spacing-single;

  .top_pie{
    max-width: 300px;
    float:left;
  }
}
