@import "bootstrap/variables.less";

/* MARGIN */
@spacing-half: 15px;
@spacing-single: 25px;
@spacing-double: 50px;

/* COLOR */
@page-background: #bce3f5;
@title-background: #3caadb;


/* FONT SIZE */
@title-size: 61px;
@intro-size: 40px;
@medium-size: 30px;
@slogan-size: 18px;
@navbar-size: 15px;
@caption-size: 12px;