{% extends "base.html" %}

{% block js_header %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/graph_utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/variables.js"></script>
{% endblock %}

{% block top-content %}

    <div class="container">
        <div class="row">
            <div class="span4 offset2">
                <div id="pie_senato" class="top_pie"></div>
            </div>
            <div class="span4">
                <div id="pie_camera" class="top_pie"></div>
            </div>
        </div>
    </div>



<script>

    var pie_camera_data=[
        {"label":"ADERISCONO", "value":{{ pie_camera.aderenti }} },
        {"label":"NON ADERISCONO", "value":{{ pie_camera.non_aderenti }} }
    ];
    var pie_camera_label=[
        {"label":"DEPUTATI", "value":{{ pie_camera.totale }} }
    ]

    var pie_senato_data=[
        {"label":"ADERISCONO", "value":{{ pie_senato.aderenti }} },
        {"label":"NON ADERISCONO", "value":{{ pie_senato.non_aderenti }} }
    ];

    var pie_senato_label=[
        {"label":"SENATORI", "value":{{ pie_senato.totale }} }
    ];

    draw_arc("pie_camera", pie_camera_data, pie_camera_label);
    draw_arc("pie_senato", pie_senato_data, pie_senato_label);


    $(document).ready(function() {
        $('div.expandable').expander({
            slicePoint: 550,
            preserveWords: true,
            expandEffect: 'show',
            expandSpeed: 0,
            collapseEffect: 'hide',
            collapseSpeed: 0,
            onCollapse: function () {
                $('body').scrollTop($('div.topAnchor').offset().top);
            },
            afterExpand: function () {
{#                $('body').scrollTop($('div.bottomAnchor').offset().top);#}
                var amount = $('div.bottomAnchor').offset().top;
                $('body, html').animate({scrollTop : amount},800);
            },
            expandPrefix:     '...', // default is '... '
            expandText:       '<BR>Leggi tutto <i class="icon-caret-down"></i>', // default is 'read more'
            userCollapseText: 'Chiudi <i class="icon-caret-up"></i>'  // default is 'read less'
        });
    });


</script>


{% endblock %}


{% block middle-content %}
    <div class="container">
        <div class="row">
            <div class="span10 offset1" id="achepuntosiamo">
                <div class="row-fluid">
                    <div class="span12 title">
                        A che punto siamo
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 subtitle">
                        {{ blogpost.title }}
                        <div class="topAnchor"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 content expandable">
                        {{ blogpost.content.0.value|safe }}

                    </div>
                </div><div class="bottomAnchor"></div>
            </div>

        </div>

    </div>
{% endblock %}
