{% extends "base.html" %}

{% block js_header %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/graph_utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/variables.js"></script>
{% endblock %}

{% block top-content %}

    <div class="container">
        <div class="row">
            <div class="span6">
                <div id="pie_senato" class="top_pie"></div>
            </div>
            <div class="span6">
                <div id="pie_camera" class="top_pie"></div>
            </div>
        </div>
    </div>



<script>

    var pie_camera_data=[
        {"label":"Aderenti", "value":{{ pie_camera.aderenti }} },
        {"label":"Non aderenti", "value":{{ pie_camera.non_aderenti }} }
    ];
    var pie_camera_label=[
        {"label":"Deputati", "value":{{ pie_camera.totale }} }
    ]

    var pie_senato_data=[
        {"label":"Aderenti", "value":{{ pie_senato.aderenti }} },
        {"label":"Non aderenti", "value":{{ pie_senato.non_aderenti }} }
    ];

    var pie_senato_label=[
        {"label":"Senatori", "value":{{ pie_senato.totale }} }
    ];

    draw_arc("pie_camera", pie_camera_data, pie_camera_label);
    draw_arc("pie_senato", pie_senato_data, pie_senato_label);

</script>


{% endblock %}


{% block middle-content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                A che punto siamo
            </div>
        </div>
        <div class="row">
            <div class="span6">
                {% if news_left %}
                    {{ news_left.body_html|safe }}
                {% else %}
                    Nessuna news
                {% endif %}
            </div>
            <div class="span6">
                {% if news_right %}
                    {{ news_right.body_html|safe }}
                {% else %}
                    Nessuna news
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
