{% extends "base.html" %}

{% block js_header %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/graph_utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/variables.js"></script>
{% endblock %}

{% block top-content %}

    <div class="container">
        <div class="row">
            <div class="span4 offset2">
                <div id="pie_senato" class="top_pie"></div>
            </div>
            <div class="span4">
                <div id="pie_camera" class="top_pie"></div>
            </div>
        </div>
    </div>



<script>

    var pie_camera_data=[
        {"label":"ADERISCONO", "value":{{ pie_camera.aderenti }} },
        {"label":"NON ADERISCONO", "value":{{ pie_camera.non_aderenti }} }
    ];
    var pie_camera_label=[
        {"label":"DEPUTATI", "value":{{ pie_camera.totale }} }
    ]

    var pie_senato_data=[
        {"label":"ADERISCONO", "value":{{ pie_senato.aderenti }} },
        {"label":"NON ADERISCONO", "value":{{ pie_senato.non_aderenti }} }
    ];

    var pie_senato_label=[
        {"label":"SENATORI", "value":{{ pie_senato.totale }} }
    ];

    draw_arc("pie_camera", pie_camera_data, pie_camera_label);
    draw_arc("pie_senato", pie_senato_data, pie_senato_label);


    $(document).ready(function() {
        $('div.expandable').expander({
            slicePoint: 550,
            preserveWords: true,
            expandEffect: 'show',
            expandSpeed: 0,
            collapseEffect: 'hide',
            collapseSpeed: 0,
            onCollapse: function () {
                $('body').scrollTop($('div.topAnchor').offset().top);
            },
            afterExpand: function () {

                var amount = $('div.bottomAnchor').offset().top;
                $('body, html').animate({scrollTop : amount},800);
            },
            expandPrefix:     '...', // default is '... '
            expandText:       '<BR>Leggi tutto <i class="icon-caret-down"></i>', // default is 'read more'
            userCollapseText: 'Chiudi <i class="icon-caret-up"></i>'  // default is 'read less'
        });

        $('#pcv_navbar').waypoint('sticky');
    });


</script>


{% endblock %}


{% block middle-content %}
    <div class="container">
        <div class="row">
            <div class="span10 offset1" >
                <div id="achepuntosiamo">
                    <div class="row-fluid">
                        <div class="span12 title">
                            A che punto siamo
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 subtitle">
                            {{ blogpost.title }}
                            <div class="topAnchor"></div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 content expandable">
                            {{ blogpost.content.0.value|safe }}

                        </div>
                    </div>
                </div>
                <div class="bottomAnchor"></div>
            </div>
        </div>
        <div class="row" id="pcv_navbar">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner" id="pcv_inner_navbar">
                        <a class="brand" href="#PageTop">#ParlamentoCasaDiVetro</a>
                        <ul class="nav">
                            <li class="active">
                                <a href="#promesse" data-toggle="tab">
                                    Promesse
                                </a>
                            </li>
                            <li>
                                <a href="#campagna" data-toggle="tab">
                                    Campagna
                                </a>
                            </li>
                            <li>
                                <a href="#adesioni" data-toggle="tab">
                                    Adesioni
                                </a>
                            </li>
                        </ul>
                        <div id="openpolis_logo">
                            <a href="http://www.openpolis.it" target="_blank">
                                <img src="{{ STATIC_URL }}img/openpolis.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10 offset1" id="pcv_tabs">
                <div class="tab-content">
                    <div class="tab-pane active" id="promesse">
                        <div class="title">
                            Le promesse
                        </div>
                        <div class="content">
                            Pellentesque vehicula magna non diam ultrices dictum vel vel libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nec felis purus, a dignissim erat. Praesent ut lorem nibh, vel tincidunt arcu. Fusce quis nulla sit amet est tempor egestas. Fusce non purus nibh. Morbi egestas interdum sapien, sit amet condimentum nisi fermentum at. In ante turpis
                        </div>
                        <div id="presidenti_img">
                            <img src="{{ STATIC_URL }}img/presidenti.jpg"/>
                        </div>
                    </div>
                    <div class="tab-pane" id="campagna">
                        <div class="title">
                            Le campagna
                        </div>
                        <div class="content">
                            Ut vel metus magna, eu sagittis eros. Pellentesque vehicula magna non diam ultrices dictum vel vel libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nec felis purus, a dignissim erat. Praesent ut lorem nibh, vel tincidunt arcu. Fusce quis nulla sit amet est tempor egestas. Fusce non purus nibh. Morbi egestas interdum sapien, sit amet condimentum nisi fermentum at. In ante turpis, adipiscing at posuere vitae, ornare ac nisl.
                        </div>

                    </div>
                    <div class="tab-pane" id="adesioni">
                        <div class="title">
                            Le adesioni
                        </div>
                        <div class="content">
                            Pellentesque ligula lorem, lacinia et malesuada in, mattis at turpis. Nunc sit amet aliquet turpis. Vivamus aliquam dictum viverra. Vivamus adipiscing blandit rutrum. Fusce ultricies odio a odio cursus suscipit. Sed rhoncus luctus viverra. Nulla eros diam, lacinia non sollicitudin quis, rutrum vitae tortor.

                            Sed fringilla faucibus sem, id tempus risus rhoncus eget. Duis sed dolor erat, ac vestibulum est. Cras dapibus ante ut leo dictum blandit. Pellentesq
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
