{% extends "base.html" %}
{% load utils %}
{% load staticfiles %}


{% block js_header %}

    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">


        $(document).ready(function() {
            var gTable = $('.tablesorter').dataTable({
                {# sdom is also for table responsiveness#}
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",

                {# aasorting sets the initial sorting of the table                #}
                {% if ordinamento == "aderiscono" %}
                    "aaSorting": [[ 3, "asc" ],[1,"asc"]],
                {% else %}
                    {% if ordinamento == "non_aderiscono" %}
                        "aaSorting": [[ 3, "desc" ],[1,"asc"]],
                    {% endif %}
                {% endif %}

                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [ 0,4,5 ] },
                    { "bSortable": true, "aTargets": [ 0,4,5 ] }
                ],

                bFilter: false,
                bPaginate: false,
                bLengthChange: false,
                bSort: true,
                bInfo: false,
                bAutoWidth: false,
                oLanguage: {
                    sSearch: "Ricerca",
                    sZeroRecords: "Nessun risultato per questa ricerca"
                }

            });
        });


    </script>

{% endblock %}




{% block top-content %}
    <div class="wrapper">
    <!-- HEADER -->
    <div class="container" id="lista_completa">
    <div class="row ">
        <div class="span2 offset10" style="margin-top:30px;">
            <a href="http://www.openpolis.it" target="_blank">
                <img src="{% static "img/openpolis.gif" %}" style="max-width: 150px;">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12 subtitle">
            <a name="PageTop"></a>
            I Parlamentari e la campagna "Parlamento Casa di vetro"
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <a href="{% url "home" %}" style="text-decoration: underline;">
                < Torna alla Home
            </a>
        </div>
    </div>
    <div class="row">
    <div class="span12">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs default_padding" id="lista_ul">
        <li class="{% if tipologia == "deputati" %}active{% endif %}">
            <a href="#deputati_tab" data-toggle="tab">
                                <span class="title">
                                    Deputati ({{ n_deputati }})
                                </span>
            </a>
        </li>
        <li class="{% if tipologia == "senatori" %}active{% endif %}">
            <a href="#senatori_tab" data-toggle="tab">
                                <span class="title">
                                    Senatori ({{ n_senatori }})
                                </span>
            </a>
        </li>
        <li class="{% if tipologia == "" %}active{% endif %}">
            <a href="#totale_tab" data-toggle="tab">
                                <span class="title">
                                    Tutti ({{ n_totale }})
                                </span>
            </a>
        </li>
    </ul>
    <div class="tab-content lista_tabs">
        <div class="tab-pane default_padding {% if tipologia == "deputati" %}active{% endif %} " id="deputati_tab">
          {#        table header #}

            <table class="table table-condensed tablesorter">
                <thead>
                <tr >
                    <th>Nome </th>
                    <th>Cognome </th>
                    <th>Gruppo  </th>
                    <th>Adesione  </th>
                    <th>Email</th>
                    <th>Twitter</th>
                </tr>
                </thead>
                <tbody>
                {% for parlamentare in lista_deputati %}
                    <tr>
                        <td>
                          {{ parlamentare.nome|truncatesmart:20  }}
                        </td>
                        <td >
                          {{ parlamentare.cognome|truncatesmart:30 }}
                        </td>
                        <td >
                          {{ parlamentare.gruppo_parlamentare.sigla }}
                        </td>
                        <td>
                          {% if parlamentare.adesione == '1'   %}
                              Aderisce
                          {% else %}
                              Non aderisce
                          {% endif %}

                        </td>
                        <td>
                          {% if parlamentare.account_mail %}
                              <a href="mailto:{{ parlamentare.account_mail }}">
                                  Email
                              </a>
                          {% else %}
                              &nbsp;
                          {% endif %}
                        </td>
                        <td>
                          {% if parlamentare.account_twitter %}
                              <div id="custom-tweet-button">
                                  <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                                     target="_blank">
                                      Twitta a @{{ parlamentare.account_twitter }}
                                  </a>

                              </div>

                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane default_padding {% if tipologia == "senatori" %}active{% endif %} " id="senatori_tab">
          {#        table header #}
            <table class="table table-condensed tablesorter">
                <thead>
                <tr>
                    <th>Nome </th>
                    <th>Cognome </th>
                    <th>Gruppo </th>
                    <th>Adesione </th>
                    <th>Email</th>
                    <th>Twitter</th>
                </tr>
                </thead>
                <tbody>
                {% for parlamentare in lista_senatori %}
                    <tr>
                        <td>
                          {{ parlamentare.nome|truncatesmart:20  }}
                        </td>
                        <td >
                          {{ parlamentare.cognome|truncatesmart:30 }}
                        </td>
                        <td >
                          {{ parlamentare.gruppo_parlamentare.sigla }}
                        </td>
                        <td>
                          {% if parlamentare.adesione == '1'   %}
                              Aderisce
                          {% else %}
                              Non aderisce
                          {% endif %}

                        </td>
                        <td>
                          {% if parlamentare.account_mail %}
                              <a href="mailto:{{ parlamentare.account_mail }}">
                                  Email
                              </a>
                          {% else %}
                              &nbsp;
                          {% endif %}
                        </td>
                        <td>
                          {% if parlamentare.account_twitter %}
                              <div id="custom-tweet-button">
                                  <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                                     target="_blank">
                                      Twitta a @{{ parlamentare.account_twitter }}
                                  </a>

                              </div>

                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane default_padding {% if tipologia == "" %}active{% endif %} " id="totale_tab">
          {#        table header #}

            <table class="table table-condensed tablesorter">
                <thead>
                <tr>
                    <th>Nome </th>
                    <th>Cognome </th>
                    <th>Gruppo </th>
                    <th>Adesione </th>
                    <th>Email</th>
                    <th>Twitter</th>
                </tr>
                </thead>
                <tbody>
                {% for parlamentare in lista_completa %}
                    <tr>
                        <td>
                          {{ parlamentare.nome|truncatesmart:20  }}
                        </td>
                        <td >
                          {{ parlamentare.cognome|truncatesmart:30 }}
                        </td>
                        <td >
                          {{ parlamentare.gruppo_parlamentare.sigla }}
                        </td>
                        <td>
                          {% if parlamentare.adesione == '1'   %}
                              Aderisce
                          {% else %}
                              Non aderisce
                          {% endif %}

                        </td>
                        <td>
                          {% if parlamentare.account_mail %}
                              <a href="mailto:{{ parlamentare.account_mail }}">
                                  Email
                              </a>
                          {% else %}
                              &nbsp;
                          {% endif %}
                        </td>
                        <td>
                          {% if parlamentare.account_twitter %}
                              <div id="custom-tweet-button">
                                  <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                                     target="_blank">
                                      Twitta a @{{ parlamentare.account_twitter }}
                                  </a>
                              </div>
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>



{% endblock %}



    {#    LOAD TWITTER WIDGET#}
    <script>
    $(".btn-info").bind("click",
            function (intent_event) {
                _ga.trackTwitterHandler_(intent_event);
            }
    );

    </script>
