{% extends "base.html" %}
{% load utils %}
{% load staticfiles %}

{% block title %}
  Lista completa
{% endblock %}


{% block css_header %}
    <link href="{% static "css/jquery.dataTables.css" %}" rel="stylesheet">
{% endblock %}

{% block js_header %}

    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">


        $(document).ready(function() {
            var gTable = $('.tablesorter').dataTable({
{#                sdom is also for table responsiveness#}
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",

{#                aasorting sets the initial sorting of the table                #}
                {% if ordinamento == "aderiscono" %}
                    "aaSorting": [[ 3, "asc" ],[1,"asc"]],
                {% else %}
                    {% if ordinamento == "non_aderiscono" %}
                        "aaSorting": [[ 3, "desc" ],[1,"asc"]],
                    {% endif %}
                {% endif %}

                "aoColumnDefs": [
                    {#  defines not sortable cols#}
                    { "bSortable": false, "aTargets": [ 0,4,5,6 ] },
                    {#  defines sortable cols#}
                    { "bSortable": true, "aTargets": [ 1,2,3 ] }
                ],

                bFilter: false,
                bPaginate: false,
                bLengthChange: false,
                bSort: true,
                bInfo: false,
                bAutoWidth: false,
                oLanguage: {
                    sSearch: "Ricerca",
                    sZeroRecords: "Nessun risultato per questa ricerca"
                }

            });
        });


    </script>

{% endblock %}


{% block top-content %}

  <!-- HEADER -->
  <div class="container" id="lista_completa">

    <div class="row">
      <div class="span10 offset1 white_bg" id="" style="min-height: 40px;">
      </div>
    </div>

  {#    top navbar#}

      <div class="row " id="pcv_navbar" >
          <div class="span12">
              <div class="navbar" id="spynav_pcv">
                  <div class="navbar-inner" id="pcv_inner_navbar" >
                      <a class="brand" href="{% url "home" %}">#PARLAMENTO<strong>CASADIVETRO</strong></a>
                      <ul class="nav" id="ulnav">
                          <li>
                              <a href="#campagna">
                                  CAMPAGNA
                              </a>
                          </li>
                          <li>
                              <a id="adesioni_scrollspy" href="#adesioni" >
                                  ADESIONI
                              </a>
                          </li>
                      </ul>
                      <div id="openpolis_logo">
                          <a href="http://www.openpolis.it" target="_blank">
                              <img src="{% static "img/openpolis.png" %}"/>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="span10 offset1 title white_bg" id="lista_title_container">
          <a name="PageTop"></a>
          <div id="title">
            I PARLAMENTARI E LA CAMPAGNA<br/> #PARLAMENTO<STRONG>CASADIVETRO</STRONG>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="span10 offset1 white_bg" >
              <p class="parlamentare_calltoaction span9">
                  SEI UN PARLAMENTARE E VUOI ADERIRE? SCRIVICI A
                  <a href="mailto:associazione@openpolis.it">
                      associazione@openpolis.it
                  </a>
              </p>
          </div>
      </div>


      <div class="row">
        <div class="span10 offset1 white_bg">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs default_padding" id="lista_ul">
              <li class="{% if tipologia == "deputati" %}active{% endif %}">
                <a href="#deputati_tab" data-toggle="tab">
                  <span class="title">
                      DEPUTATI <span class="numero_adesioni">{{ n_deputati }}</span>
                  </span>
                </a>
              </li>
              <li class="{% if tipologia == "senatori" %}active{% endif %}">
                <a href="#senatori_tab" data-toggle="tab">
                  <span class="title">
                      SENATORI <span class="numero_adesioni">{{ n_senatori }}</span>
                  </span>
                </a>
            </li>
            <li class="{% if tipologia == "" %}active{% endif %}">
                <a href="#totale_tab" data-toggle="tab">
                  <span class="title">
                      TUTTI <span class="numero_adesioni">{{ n_totale }}</span>
                  </span>
                </a>
            </li>
        </ul>
        <div class="tab-content lista_tabs">
          <div class="tab-pane default_padding {% if tipologia == "deputati" %}active{% endif %} " id="deputati_tab">

          {#        table header #}
            <table class="table table-condensed tablesorter">
              <thead>
                <tr >
                  <th>NOME </th>
                  <th>COGNOME </th>
                  <th>GRUPPO  </th>
                  <th>ADESIONE  </th>
                  <th>FIRMATARIO</th>
                  <th>EMAIL</th>
                  <th>TWITTER</th>
                </tr>
              </thead>
              <tbody>
              {% for parlamentare in lista_deputati %}
                <tr>
                  <td>
                    {{ parlamentare.nome|truncatesmart:20  }}
                  </td>
                  <td >
                    {{ parlamentare.cognome|truncatesmart:30 }}
                  </td>
                  <td >
                    {{ parlamentare.gruppo_parlamentare.sigla }}
                  </td>
                  <td>
                    {% if parlamentare.adesione == '1'   %}
                        <span class="adesione_blue">ADERISCE</span>
                    {% else %}
                        <span class="adesione_red">NON ADERISCE</span>
                    {% endif %}

                  </td>
                  <td>
                    {% if parlamentare.firmatario_testo == '1' %}
                      <img src="{% static "img/icona_firmatario.png"  %}"/>
                    {% endif %}
                  </td>
                  <td>
                    {% if parlamentare.account_mail %}
                        <a class="list_email" href="mailto:{{ parlamentare.account_mail }}">
                            EMAIL
                        </a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                  </td>
                  <td>
                    {% if parlamentare.account_twitter %}
                        <div id="custom-tweet-button">
                            <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                               target="_blank">
                                Twitta
                            </a>

                        </div>

                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="tab-pane default_padding {% if tipologia == "senatori" %}active{% endif %} " id="senatori_tab">
          {#        table header #}
            <table class="table table-condensed tablesorter">
                <thead>
                  <tr >
                    <th>NOME </th>
                    <th>COGNOME </th>
                    <th>GRUPPO  </th>
                    <th>ADESIONE  </th>
                    <th>FIRMATARIO</th>
                    <th>EMAIL</th>
                    <th>TWITTER</th>
                  </tr>
                </thead>
                <tbody>
                {% for parlamentare in lista_senatori %}
                    <tr>
                        <td>
                          {{ parlamentare.nome|truncatesmart:20  }}
                        </td>
                        <td >
                          {{ parlamentare.cognome|truncatesmart:30 }}
                        </td>
                        <td >
                          {{ parlamentare.gruppo_parlamentare.sigla }}
                        </td>
                        <td>
                          {% if parlamentare.adesione == '1'   %}
                              <span class="adesione_blue">ADERISCE</span>
                          {% else %}
                              <span class="adesione_red">NON ADERISCE</span>
                          {% endif %}

                        </td>
                        <td>
                          {% if parlamentare.firmatario_testo == '1' %}
                            <img src="{% static "img/icona_firmatario.png"  %}"/>
                          {% endif %}
                        </td>
                        <td>
                          {% if parlamentare.account_mail %}
                              <a class="list_email" href="mailto:{{ parlamentare.account_mail }}">
                                  EMAIL
                              </a>
                          {% else %}
                              &nbsp;
                          {% endif %}
                        </td>
                        <td>
                          {% if parlamentare.account_twitter %}
                              <div id="custom-tweet-button">
                                  <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                                     target="_blank">
                                      Twitta
                                  </a>

                              </div>

                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane default_padding {% if tipologia == "" %}active{% endif %} " id="totale_tab">
          {#        table header #}

          <table class="table table-condensed tablesorter">
            <thead>
              <tr >
                <th>NOME </th>
                <th>COGNOME </th>
                <th>GRUPPO  </th>
                <th>ADESIONE  </th>
                <th>FIRMATARIO</th>
                <th>EMAIL</th>
                <th>TWITTER</th>
              </tr>
            </thead>
            <tbody>
            {% for parlamentare in lista_completa %}
                <tr>
                    <td>
                      {{ parlamentare.nome|truncatesmart:20  }}
                    </td>
                    <td >
                      {{ parlamentare.cognome|truncatesmart:30 }}
                    </td>
                    <td >
                      {{ parlamentare.gruppo_parlamentare.sigla }}
                    </td>
                    <td>
                      {% if parlamentare.adesione == '1'   %}
                          <span class="adesione_blue">ADERISCE</span>
                      {% else %}
                          <span class="adesione_red">NON ADERISCE</span>
                      {% endif %}

                    </td>
                    <td>
                      {% if parlamentare.firmatario_testo == '1' %}
                        <img src="{% static "img/icona_firmatario.png"  %}"/>
                      {% endif %}
                    </td>
                    <td>
                      {% if parlamentare.account_mail %}
                          <a class="list_email" href="mailto:{{ parlamentare.account_mail }}">
                              EMAIL
                          </a>
                      {% else %}
                          &nbsp;
                      {% endif %}
                    </td>
                    <td>
                      {% if parlamentare.account_twitter %}
                          <div id="custom-tweet-button">
                              <a class="btn btn-info" href="https://twitter.com/share?url=http%3A%2F%2Fbit.ly%2F15p2ltP&lang=it-IT&text=@{{ parlamentare.account_twitter }} {% if parlamentare.adesione == "1" %}coinvolgi+i+tuoi+colleghi+nella+campagna+%23ParlamentoCasadiVetro{% else %}la+trasparenza+delle+commissioni+parlamentari+per+un+%23ParlamentoCasadiVetro.Ci+stai%3F{% endif %}&hashtags=openparlamento{% if parlamentare.adesione == "1" %}{% if parlamentare.ramo_parlamento == "0" %}%2Copencamera{% else %}%2Copensenato{% endif %}{% endif %}"
                                 target="_blank">
                                  Twitta
                              </a>
                          </div>
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </div>
    </div>

    </div>
    <div class="row">
        <div class="span10 offset1 white_bg" >
            <p class="parlamentare_calltoaction span9">
                SEI UN PARLAMENTARE E VUOI ADERIRE? SCRIVICI A
                <a href="mailto:associazione@openpolis.it">
                    associazione@openpolis.it
                </a>
            </p>
        </div>
    </div>
  </div>




{% endblock %}



    {#    LOAD TWITTER WIDGET#}
    <script>
    $(".btn-info").bind("click",
            function (intent_event) {
                _ga.trackTwitterHandler_(intent_event);
            }
    );

    </script>
